html {
    scroll-behavior: smooth;
}

.sidenav a {
    padding: 6px 6px 6px 6px;
    text-decoration: none;
    font-size: 1em;
    color: #407127;
    display: block;
}

.sidenav a:hover {
    color: #233d16;
    text-decoration: underline;
}

.hidden {
    display: none;
}

.no-bullets {
    list-style-type: none;
    padding: 12px;
}

.small-font {
    font-size: small;
    color: #407127;
}