<div class="sidenav col-md-3 sticky-top h-100">
    <ul id="sidenav-list" class="no-bullets">
    </ul>

    <nav id="navbar-example3" class="navbar navbar-light bg-light flex-column align-items-stretch p-3">
        <a class="nav-link" href="#NeverAgain-EnvironmentalPreparation">Environmental Preparation</a>
        <nav class="nav nav-pills flex-column">
            <a class="nav-link ms-3" href="#NeverAgain-LogosonTickets">Logos on Tickets</a>
            <a class="nav-link ms-3" href="#NeverAgain-PostersonStadia">Posters on Stadia</a>
            <a class="nav-link ms-3" href="#NeverAgain-Leafletting">Leafletting</a>
            <a class="nav-link ms-3" href="#NeverAgain-DedicatedNewsletters">Dedicated Newsletters</a>
            <a class="nav-link ms-3" href="#NeverAgain-SocialMedia">Social Media</a>
            <a class="nav-link ms-3" href="#NeverAgain-ConsistentMessaging">Consistent Messaging</a>
        </nav>
        <a class="nav-link" href="#item-2">Item 2</a>
        <a class="nav-link" href="#item-3">Item 3</a>
        <nav class="nav nav-pills flex-column">
            <a class="nav-link ms-3" href="#item-3-1">Item 3-1</a>
            <a class="nav-link ms-3" href="#item-3-2">Item 3-2</a>
        </nav>
    </nav>
</div>


<div id="main-content" class="col" data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-offset="0"